*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(234, 237, 237);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(24, 21, 21) !important;
    width: 100% !important;
    height: 65px !important;
    position: fixed !important;
    z-index: 1;
    vertical-align: center !important;
    /* display: flex !important;
    flex-wrap: wrap; */
}
.search-btn{
    background-color: #e47911 !important;
}
.nav-item{
    box-sizing: border-box !important;
    margin: 8px !important;
    width: auto !important;
    height: 65px !important;
    text-align: center !important;
    font-size: .83rem !important;
    padding: 5px !important;
    color: white !important;
}
.nav-item:hover{
    /* border: .1px solid white !important; */
    background: #f18416;
}
.nav-link{
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    text-align: center;
}
.input-group{
    width: 750px !important;
}
.carousel-img{
    width: 100%;
    height: 85vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(250, 355, 255, 1));
}

/* main page css */
.mainPage{
    position: absolute;
    top: 60px;
    left: 0%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    margin-bottom: -350px;
}

.ProductList{
    /* z-index: -1; */
    position: absolute;
    top: 60%;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 10px;
    max-height: 200px;
    min-width: 100px;
}
.items{
    width:400px;
    height: auto;
    min-width: 200px;
    min-height: 400px;
    background: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px grey;
    padding: 20px;
    margin: 10px;
}
.symbol{
    font-size: 1rem !important;
    color: crimson !important;
}
.add-to-cart-btn, .buy-btn{
    width: 120px;
    height: 23px;
    background-color: #e47911;
    color: black;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29 ;
    font-size: .85rem;
    outline: none;
}
.items img{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin: 15px 0px;
    /* border: 1px solid black; */
}
.items h3{
    font-size: 1rem;
    margin: 0;
}
.home__row{
    display: flex;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100%;
    /* max-width: 100%; */
}
.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    /* border: 1px solid black; */
    margin: 5px 0px;
}
.star{
    width: 12px;
    height: 10px;
    /* border: 1px solid black; */
    margin: 0;
}
.price{
    color: rgb(158, 7, 7);
    font-size: large;
    font-weight: bold;
    /* border: 1px solid black; */
    margin: 0;
}
.buttons{
    text-align: center;
    /* border: 1px solid black; */
}
